### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/Pymoli_data.csv"

# Read Purchasing File and store into Pandas data frame
Pymoli_data = pd.read_csv(file_to_load)

In [3]:
Pymoli_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

In [5]:
# Create a data frame with total players named player count
total_players = len(Pymoli_data["SN"].value_counts())

player_count = pd.DataFrame({"Total Players":[total_players]})
player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
#Referenec for using nunique : https://thispointer.com/pandas-get-unique-values-in-single-or-multiple-columns-of-a-dataframe-in-python/#:~:text=Pandas%20%3A%20Get%20unique%20values%20in%20columns%20of,Get%20Unique%20values%20in%20a%20multiple%20columns.%20

In [6]:
Purchase_Summary = pd.DataFrame({
    "Number of unique items": [Pymoli_data["Item ID"].nunique()],
    "Average Price":[Pymoli_data["Price"].mean()], # figure out a way to round it to two decimal
    "Number of Purchases": [Pymoli_data["Item ID"].count()],
    "Total Revenue":[Pymoli_data["Price"].sum()]
})

Purchase_Summary

# Format with currency style
Purchase_Summary.style.format({"Average Price":"${:,.2f}",
                                  "Total Revenue":"${:,.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [7]:
gender_groupby = Pymoli_data.groupby("Gender")

In [8]:
gender_count = (gender_groupby["SN"].nunique())

In [9]:
gender_percentage = gender_count / total_players * 100

In [10]:
#Create dataframe
gender_demographics = pd.DataFrame({
    "Total Count": gender_count,
    "Percentage of Players":gender_percentage
})
gender_demographics


# Format the data frame with no index name in the corner
gender_demographics.index.name = None

# Format the values sorted by total count in descending order, and two decimal places for the percentage
gender_demographics.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
purchase_count = gender_groupby["Purchase ID"].count()

In [12]:
average_price = gender_groupby["Price"].mean()
average_purchase_total = gender_groupby["Price"].sum()

In [13]:
average_purchase_per_person = average_purchase_total/gender_count

In [14]:
purchase_analysis = pd.DataFrame({
    "Purchase Count":purchase_count,
    "Average Purchase Price":average_price,
    "Total Purchase Value":average_purchase_total,
    "Avg Total Purchase per Person":average_purchase_per_person
})

# Provide index in top left as "Gender"
purchase_analysis.index.name = "Gender"

# Format with currency style
purchase_analysis.style.format({"Total Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Avg Total Purchase per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [15]:
# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Segment and sort age values into bins established above
Pymoli_data["Age Group"] = pd.cut(Pymoli_data["Age"],age_bins, labels=group_names)

In [16]:
# Create new data frame with the added "Age Group" and group it
age_groupby = Pymoli_data.groupby("Age Group")

# Count total players by age category
age_count = age_groupby["SN"].nunique()

# Calculate percentages by age category 
percentage_by_age = (age_count/total_players) * 100

# Create data frame with obtained values
age_demographics = pd.DataFrame({"Percentage of Players": percentage_by_age, "Total Count": age_count})

# Format the data frame with no index name in the corner
age_demographics.index.name = None

# Format percentage with two decimal places 
age_demographics.style.format({"Percentage of Players":"{:,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [17]:
purchase_count_age = age_groupby["Purchase ID"].count()
purchase_count_age

<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Purchase ID, dtype: int64

In [18]:
average_price_age = age_groupby["Price"].mean()

In [19]:
average_purchase_total_age = age_groupby["Price"].sum()

In [20]:
average_purchase_per_person_age = average_purchase_total_age/age_count

In [21]:
purchase_analysis_age = pd.DataFrame({
    "Purchase Count":purchase_count_age,
    "Average Purchase Price":average_price_age,
    "Total Purchase Value":average_purchase_total_age,
    "Avg Total Purchase per Person":average_purchase_per_person_age
})

# Format the data frame with no index name in the corner
age_demographics.index.name = None

# Format with currency style
purchase_analysis_age.style.format({"Total Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Avg Total Purchase per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [22]:
# Create new data frame with the added "SN" and group it
SN_groupby = Pymoli_data.groupby("SN")

In [130]:
purchase_count_SN = SN_groupby["Item ID"].count()

In [30]:
average_price_SN = SN_groupby["Price"].mean()

In [31]:
average_purchase_total_SN = SN_groupby["Price"].sum()

In [142]:
purchase_analysis_SN = pd.DataFrame({
    "Purchase Count":purchase_count_SN,
    "Average Purchase Price":average_price_SN,
    "Total Purchase Value":average_purchase_total_SN
    })

purchase_analysis_SN.sort_values(by=['Total Purchase Value'], ascending=False, inplace=True)

purchase_analysis_SN = purchase_analysis_SN.head()

# Format with currency style
purchase_analysis_SN.style.format({"Total Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Avg Total Purchase per Person":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [125]:
# Create new data frame with the added "" and group it
Item_groupby = Pymoli_data.groupby(["Item ID","Item Name"])

In [105]:
purchase_count_Item = Item_groupby["Item ID"].count()

In [126]:
purchase_Item_price = Item_groupby["Price"].mean()

In [123]:
purchase_total_Item = Item_groupby["Price"].sum()

In [143]:
purchase_analysis_Item = pd.DataFrame({
    "Purchase Count":purchase_count_Item,
    "Item Price":purchase_Item_price,
    "Total Purchase Value":purchase_total_Item
    })

purchase_analysis_Item.sort_values(by=['Purchase Count'], ascending=False, inplace=True)

purchase_analysis_Item = purchase_analysis_Item.head()

# Format with currency style
purchase_analysis_Item.style.format({"Total Purchase Value":"${:,.2f}",
                                  "Item Price":"${:,.2f}"
                                  })

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [144]:
purchase_analysis_Item = pd.DataFrame({
    "Purchase Count":purchase_count_Item,
    "Item Price":purchase_Item_price,
    "Total Purchase Value":purchase_total_Item
    })

purchase_analysis_Item.sort_values(by=['Total Purchase Value'], ascending=False, inplace=True)

purchase_analysis_Item = purchase_analysis_Item.head()

# Format with currency style
purchase_analysis_Item.style.format({"Total Purchase Value":"${:,.2f}",
                                  "Item Price":"${:,.2f}"
                                  })